rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{user_id} {
      allow read;
      allow create;
      allow update;
      allow delete;
      // allow read, create, update, delete: if true;
    }

    match /listing/{list_id} {
      allow read;
      allow create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

  }
}