.box-list{
  margin-bottom: 40px;
  .image-box{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
  }
  .details{
    .location-geo{
      span{
        font-size: 12px;
      }
    }
    .title-name{
      margin-top: -4px;
      span{
        font-size: 15px;
        font-weight: 600;
      }
    }
    .price{
      span{
        font-size: 14px;
        font-weight: 600;
        color: rgb(90, 90, 170);
      }
    }
    .furnisher{
      display: flex;
      align-items: center;
      align-self: center;
      align-content: center;
      .amount-bed{
        margin-right: 20px;
        svg{
          font-size: 20px;
          margin-right: 4px;
        }
        span{
          font-size: 13px;
        }
      }
      .amount-bath{
        svg{
          font-size: 21px;
          margin-right: 4px;
        }
        @extend .amount-bed
      }
    }
  }
}